<igx-navbar class="landing-page-navigation-1">
  <igx-navbar-title class="navbar-content">
    <div class="row-layout site-logo-and-title">
      <igx-icon class="site-icon">
        construction
      </igx-icon>
      <h6 class="content_4">
        BuildCo
      </h6>
    </div>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      How it Works
    </button>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      Features
    </button>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      Pricing
    </button>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      FAQ
    </button>
  </igx-navbar-title>
  <button igxIconButton="flat" igxRipple>
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
    Sign Up
  </button>
  <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
    Login
  </button>
</igx-navbar>
<div class="row-layout hero-section-1">
  <div class="row-layout hero-section-container">
    <div class="column-layout hero-section-content-column">
      <h2 class="content">
        Building Tomorrow, Today.
      </h2>
      <h6 class="hero-subtitle">
        Leading the way in innovative construction solutions for your projects.
      </h6>
      <div class="column-layout hero-action-group">
        <div class="row-layout hero-buttons-row">
          <button igxButton="contained" type="button" igxRipple class="get-quote-button">
            Get a Free Quote
          </button>
          <button igxButton="outlined" type="button" igxRipple class="get-quote-button">
            Download Android
          </button>
        </div>
        <p class="ig-typography__body-2 content_5">
          Body 1
        </p>
      </div>
    </div>
    <img src="/assets/Auto%20generated%20image%20for%205bd9fbbe-0e70-4b08-be8e-13d7ebb089ec-917399e2-50e5-4075-a336-8ad7b416e52a.png" class="hero-image" />
  </div>
</div>
<div class="row-layout features-section">
  <div class="column-layout features-content-column">
    <div class="column-layout features-header">
      <h4 class="content_3">
        Our Services
      </h4>
      <h6 class="features-subtitle">
        Heading
      </h6>
    </div>
    <div class="row-layout feature-cards-row">
      <igx-card class="building-management-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout building-management-content">
            <igx-avatar shape="circle" class="building-management-icon-avatar building-management-icon-avatar_1">
              <igx-icon class="icon">
                business
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Building Management
            </h6>
            <p class="content_4">
              Comprehensive management services to ensure optimal performance and longevity of your properties.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
              <span>Learn more</span>
              <igx-icon>
                arrow_right_alt
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="building-management-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout building-management-content">
            <igx-avatar shape="circle" class="building-management-icon-avatar building-management-icon-avatar_2">
              <igx-icon class="icon">
                handyman
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Repair Services
            </h6>
            <p class="content_4">
              Prompt and reliable repair solutions to keep your facilities in top condition.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
              <span>Learn more</span>
              <igx-icon>
                arrow_right_alt
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="building-management-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout building-management-content">
            <igx-avatar shape="circle" class="building-management-icon-avatar building-management-icon-avatar_3">
              <igx-icon class="icon">
                construction
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Project Management
            </h6>
            <p class="content_4">
              Expert oversight for your construction projects, ensuring timely and budget-friendly completion.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
              <span>Learn more</span>
              <igx-icon>
                arrow_right_alt
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
</div>
<div class="row-layout testimonials-section">
  <div class="column-layout features-content-column">
    <div class="column-layout features-header">
      <h4 class="content_3">
        What Our Clients Say
      </h4>
      <h6 class="features-subtitle">
        Hear from those who have built with us.
      </h6>
    </div>
    <div class="row-layout feature-cards-row">
      <igx-card class="testimonial-card-1">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout building-management-content">
            <p class="content_4">
              "BuildCo exceeded our expectations with their professionalism and quality work. Our project was completed on time and within budget."
            </p>
            <igc-rating [(ngModel)]="ngModel" class="testimonial-1-rating"></igc-rating>
            <div class="row-layout testimonial-1-user-info">
              <igx-avatar initials="JD" shape="circle" class="testimonial-1-user-avatar testimonial-1-user-avatar_1"></igx-avatar>
              <div class="column-layout testimonial-1-user-details">
                <p class="ig-typography__subtitle-2 content_4">
                  Jane Doe
                </p>
                <p class="ig-typography__body-2 content_4">
                  New York, NY
                </p>
              </div>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="testimonial-card-1">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout building-management-content">
            <p class="content_4">
              "The repair services were swift and efficient. BuildCo saved us a lot of trouble and potential damage."
            </p>
            <igc-rating [(ngModel)]="ngModel1" class="testimonial-1-rating"></igc-rating>
            <div class="row-layout testimonial-1-user-info">
              <igx-avatar initials="SM" shape="circle" class="testimonial-1-user-avatar testimonial-1-user-avatar_2"></igx-avatar>
              <div class="column-layout testimonial-1-user-details">
                <p class="ig-typography__subtitle-2 content_4">
                  Sam Miller
                </p>
                <p class="ig-typography__body-2 content_4">
                  Chicago, IL
                </p>
              </div>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="testimonial-card-1">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout building-management-content">
            <p class="content_4">
              "The project management team at BuildCo made our complex renovation project seem effortless. Highly recommend!"
            </p>
            <igc-rating [(ngModel)]="ngModel2" class="testimonial-1-rating"></igc-rating>
            <div class="row-layout testimonial-1-user-info">
              <igx-avatar initials="AL" shape="circle" class="testimonial-1-user-avatar testimonial-1-user-avatar_3"></igx-avatar>
              <div class="column-layout testimonial-1-user-details">
                <p class="ig-typography__subtitle-2 content_4">
                  Alex Lee
                </p>
                <p class="ig-typography__body-2 content_4">
                  Los Angeles, CA
                </p>
              </div>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
  </div>
</div>
<div class="row-layout secondary-call-to-action-section">
  <div class="row-reverse-layout hero-section-container">
    <div class="column-layout hero-section-content-column">
      <h4 class="content_1">
        Ready to Start Your Project?
      </h4>
      <h6 class="content_1">
        Contact us today for a consultation.
      </h6>
      <div class="column-layout secondary-call-to-action-button-group">
        <div class="row-layout secondary-call-to-action-buttons-row">
          <button igxButton="contained" type="button" igxRipple class="request-consultation-button">
            Request a Consultation
          </button>
          <button igxButton="flat" type="button" igxRipple class="view-portfolio-button">
            View Portfolio
          </button>
        </div>
      </div>
    </div>
    <img src="/assets/Auto%20generated%20image%20for%20411a0c00-1f37-4526-b5b5-5bcb50f118c5-3cbdc014-9c82-487e-a78c-0cd1c184c329.png" class="hero-image" />
  </div>
</div>
<div class="row-layout features-section">
  <div class="column-layout features-content-column">
    <div class="column-layout features-header">
      <h4 class="content_3">
        Our Project Packages
      </h4>
      <h6 class="features-subtitle">
        Flexible options for every construction need.
      </h6>
    </div>
    <div class="row-layout feature-cards-row">
      <igx-card class="building-management-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout hero-buttons-row">
            <div class="column-layout features-header">
              <igx-avatar shape="circle" class="building-management-icon-avatar building-management-icon-avatar_4">
                <igx-icon class="icon">
                  av_timer
                </igx-icon>
              </igx-avatar>
              <div class="column-layout starter-package-titles">
                <h5 class="content_3">
                  Starter Package
                </h5>
                <h2 class="starter-package-price">
                  $999
                </h2>
              </div>
            </div>
            <p class="starter-package-key-attribute">
              Ideal for small renovations.
            </p>
            <igx-list class="starter-package-benefits">
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="starter-package-benefit-1-icon starter-package-benefit-1-icon_1">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Basic design consultation</span>
              </igx-list-item>
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="starter-package-benefit-1-icon starter-package-benefit-1-icon_2">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Material selection assistance</span>
              </igx-list-item>
            </igx-list>
            <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
              Get Started
            </button>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="building-management-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout hero-buttons-row">
            <div class="column-layout features-header">
              <igx-avatar shape="circle" class="building-management-icon-avatar building-management-icon-avatar_5">
                <igx-icon class="icon">
                  av_timer
                </igx-icon>
              </igx-avatar>
              <div class="column-layout starter-package-titles">
                <h5 class="content_3">
                  Standard Package
                </h5>
                <h2 class="starter-package-price">
                  $2499
                </h2>
              </div>
            </div>
            <p class="starter-package-key-attribute">
              Perfect for medium-sized projects.
            </p>
            <igx-list class="starter-package-benefits">
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="starter-package-benefit-1-icon starter-package-benefit-1-icon_3">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Detailed project planning</span>
              </igx-list-item>
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="starter-package-benefit-1-icon starter-package-benefit-1-icon_4">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>On-site supervision</span>
              </igx-list-item>
            </igx-list>
            <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
              Choose Plan
            </button>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="building-management-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout hero-buttons-row">
            <div class="column-layout features-header">
              <igx-avatar shape="circle" class="building-management-icon-avatar building-management-icon-avatar_6">
                <igx-icon class="icon">
                  av_timer
                </igx-icon>
              </igx-avatar>
              <div class="column-layout starter-package-titles">
                <h5 class="content_3">
                  Premium Package
                </h5>
                <h2 class="starter-package-price">
                  $4999
                </h2>
              </div>
            </div>
            <p class="starter-package-key-attribute">
              For large-scale and complex builds.
            </p>
            <igx-list class="starter-package-benefits">
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="starter-package-benefit-1-icon starter-package-benefit-1-icon_5">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Full project lifecycle management</span>
              </igx-list-item>
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="starter-package-benefit-1-icon starter-package-benefit-1-icon_6">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Dedicated project manager</span>
              </igx-list-item>
            </igx-list>
            <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
              Go Premium
            </button>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
  </div>
</div>
<div class="row-layout testimonials-section">
  <div class="column-layout features-content-column">
    <div class="column-layout features-header">
      <h4 class="content_3">
        Frequently Asked Questions
      </h4>
      <h6 class="features-subtitle">
        Answers to common inquiries about our services.
      </h6>
    </div>
    <igx-accordion [singleBranchExpand]="true" class="faq-accordion">
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            We specialize in commercial, residential, and industrial construction projects, including new builds, renovations, and structural repairs.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>What types of construction projects does BuildCo handle?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            BuildCo adheres to stringent quality control standards and implements comprehensive safety protocols on all job sites, with regular inspections and certified personnel.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>How do you ensure project quality and safety?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            Absolutely! We offer personalized consultations and custom quotes tailored to the unique requirements and scope of your project.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>Can I get a custom quote for my specific project needs?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            Project timelines vary depending on complexity and scale. We provide a detailed schedule after the initial planning phase, ensuring transparency and realistic expectations.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>What is your typical project timeline?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            Yes, BuildCo stands by its work with comprehensive post-construction support and warranties on all completed projects, ensuring your peace of mind.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>Do you offer post-construction support or warranty?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </igx-accordion>
  </div>
</div>
<div class="column-layout footer-section">
  <div class="row-layout footer-content-row">
    <div class="row-layout footer-links-and-social">
      <div class="column-layout company-info-column">
        <div class="row-layout company-logo-and-name">
          <igx-icon class="site-icon">
            construction
          </igx-icon>
          <p class="ig-typography__subtitle-2 content_4">
            BuildCo
          </p>
        </div>
        <p class="ig-typography__body-2 content_5">
          BuildCo: Your City, On Demand.
        </p>
        <div class="row-layout social-icons-row">
          <igx-icon family="imx-icon" name="imx-twitter" class="twitter-icon"></igx-icon>
          <igx-icon family="imx-icon" name="imx-facebook" class="twitter-icon"></igx-icon>
          <igx-icon family="imx-icon" name="imx-instagram" class="twitter-icon"></igx-icon>
        </div>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content_4">
          Services
        </p>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Building Management
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Repair Services
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Project Management
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Consultation
        </a>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content_4">
          Projects
        </p>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Commercial Projects
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Residential Projects
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Renovations
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Infrastructure
        </a>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content_4">
          Contact Us
        </p>
        <div class="row-layout customer-support-row">
          <igx-icon class="mail-icon">
            mail_outline
          </igx-icon>
          <a target="_blank" class="ig-typography__body-2 customer-support-link">
            Customer Support
          </a>
        </div>
        <div class="row-layout customer-support-row">
          <igx-icon class="mail-icon">
            phone
          </igx-icon>
          <p class="ig-typography__body-2 content_5">
            +598 99 123 456
          </p>
        </div>
        <div class="row-layout customer-support-row">
          <igx-icon class="mail-icon">
            business
          </igx-icon>
          <p class="ig-typography__body-2 content_5">
            1234 Central St., Montevideo UY
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout copyright-row">
    <p class="ig-typography__body-2 content_5">
      © 2025 BuildCo - All Rights Reserved
    </p>
  </div>
</div>
